* {
    margin: 0;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-image: url(assets/pexels-francesco-ungaro-2835436\ 1.png);
    background-size: 100%;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    
}

.navbar .logo {
    margin: 15px;
    margin-left: 5rem;
}

.navbar .nav {
    margin: 15px;
    margin-right: 5rem;
    font-size: 24px;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

.nav .blog-btn {
    color: rgb(52, 127, 212);
    background-color: white;
    border-radius: 7%;
}

.hero {
    margin-top: auto;
    display: inline;
    text-align: center;
}

.hero .main-text {
    font-size: 2.5rem;
    margin-top: 10%;
}

.hero p {
    margin-top: 3rem;
}

.hero form {
    margin-top: 10rem;
}

.recommended {
    text-align: center;
}

.recommended h1 {
    margin-top: 3rem;
}

.recommended .tab {
    margin: 3rem;
}

.recommended .tab a {
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
}

.destination-container img {
    margin: 20px;
}
